name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  test_4_1:
    name: Docker build v4.1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t test v4.1
      - name: Run image
        run: docker run -d --name apache test
      - name: Verify
        run: |
          [ $(docker inspect apache --format='{{.State.Running}}') = 'true' ]
